# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# FastAPI
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Distribution
dist/
build/
.eggs/
*.egg-info/
*.egg

# Testing
.coverage
nosetests.xml
test-reports/

# Environment Variables
.env
